---
title: Morgan (@mrgnw)
---
```js exec
import Socials from "../components/Socials.svx";
```

<Socials/>

Site made with <a href="https://svelte.dev" rel="prefetch">Svelte</a> + [Sapper](https://sapper.svelte.dev/) + <a href="mdsvex" rel="prefetch">mdsvex</a>